<a href="https://colab.research.google.com/github/a-forty-two/DFE3/blob/main/02_Python_Pandas_DataSeries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import datetime

## DataSeries

In [3]:
my_readings = [3.12, 3.54, 3.24, 3.67, 3.56, 3.87]

We can create a DataSeries using any list or np.array,

In [4]:
ds_readings = pd.Series(my_readings)
ds_readings
# We get a LOT of extra functionality that leverage NUMPY and other libs

0    3.12
1    3.54
2    3.24
3    3.67
4    3.56
5    3.87
dtype: float64

In [ ]:
## Output Index, aka primary key
ds_readings.index

In [ ]:
## Output Value- for each key, these are the values
ds_readings.values

In [ ]:
# Select specific elements from the list-> exact same syntax is in NUMPY

In [ ]:
ds_readings[0]

In [ ]:
ds_readings[4]

In [5]:
ds_readings[1:4] # our counting starts from 0
# m:n -> from m to (n-1)
# 1:4 -> from 1st to 3rd
#  :n -> from beginning to n 
#. :8 -> from beginning till 7th
#. :-5. -> negative indexing is counte from right. From beginning till 6th last element
#   :-1 -> from beginning till end EXCEPT last element! 
#  9: -> from 9th row till the end 
#.  -3: -> from 3rd last element till the end

1    3.54
2    3.24
3    3.67
dtype: float64

**Masking**

In [9]:
## Note list input
# [ [ ] ] -> double brackets do element selection
# First and Third will be printed, others ignored
myrandomcondition = [True, False, True, False, False, False]
# in next example, instead of taking myrandomcondition randomly, we will replace
# with condition that data > 3.5 
ds_readings[myrandomcondition]
# we need the locations of the values that FIT our condition 
# we pass those locations to dataframe and collect only specific values that
# match the conditions!

0    3.12
2    3.24
dtype: float64

In [ ]:
ds_readings + 10
# ANY math operation done to a series like this is performed 
# on EVERY element of that series

In [7]:
ds_readings > 3.5
# to print only based on conditions
# result is TRUE/FALSE -> wherever values are greater than 3.5, we get True, else False

0    False
1     True
2    False
3     True
4     True
5     True
dtype: bool

### Q: Why might the above be useful?

Output would be very useful when used as a mask for another series

In [8]:
ds_readings[ds_readings > 3.5]

1    3.54
3    3.67
4    3.56
5    3.87
dtype: float64

We can always combine filtering and operators

In [ ]:
ds_readings[ds_readings > 3.5] * 2

And to change the values, either all, or partial is easy,

In [ ]:
ds_readings[ds_readings > 3.5] = 0

In [25]:
# Following is an example of missing value replacement 
randomset = np.array([5,4,3,np.NaN, -1, 24, 42, np.NaN])

nullvaluelocations = np.isnan(randomset)
okayvaluelocations = np.invert(nullvaluelocations)
print(nullvaluelocations)
print(okayvaluelocations)

[False False False  True False False False  True]
[ True  True  True False  True  True  True False]

In [27]:
# replacing null values with Mean 
randomset[nullvaluelocations] = np.mean(randomset[okayvaluelocations])
randomset

array([ 5.        ,  4.        ,  3.        , 12.83333333, -1.        ,
       24.        , 42.        , 12.83333333])

In [26]:
np.mean(randomset[okayvaluelocations])

12.833333333333334

PLEASE STOP AT THIS POINT!

### Mappings

In [ ]:
# PLEASE DON'T START THIS TODAY
mapping = {0: 10.0, np.nan: 0.0}
ds_readings.replace(mapping)

In [ ]:
def myround(x):
    return round(x, 1)

In [ ]:
ds_readings.map(myround)

In [ ]:
# WILL EXPLAIN this TOMORROW (Please try today at YOUR OWN RISK!)
ds_readings.map(lambda x: round(x,1))